@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap"); 

#app {
  font-family: "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}